global
maxconn 2048
log stdout format raw local0

defaults
log global
mode tcp
option tcplog
timeout client  1m
timeout server  1m
timeout connect 5s

frontend api_front
bind *:8080
mode tcp
default_backend kong_backend

backend kong_backend
  mode tcp
  default-server check inter 2000 fall 2 rise 1
  server kong supabase-kong:8000 agent-check agent-addr pg-role-agent-primary agent-port 9100 init-addr last,libc,none
  server kong2 supabase-kong-2:8000 agent-check agent-addr pg-role-agent-replica agent-port 9101 init-addr last,libc,none

frontend write_front
bind *:5000
default_backend write_backend

frontend read_front
bind *:5001
default_backend read_backend

backend write_backend
  mode tcp
  server primary supabase-db:5432 check agent-check agent-addr pg-role-agent-primary agent-port 9100 init-addr last,libc,none
  server replica supabase-db-replica:5432 check agent-check agent-addr pg-role-agent-replica agent-port 9101 backup init-addr last,libc,none

backend read_backend
  mode tcp
  balance roundrobin
  server primary supabase-db:5432 check init-addr last,libc,none
  server replica supabase-db-replica:5432 check init-addr last,libc,none
